<a href="https://colab.research.google.com/github/21anirudh/Data-Preprocessing-And-Feature-Engineering/blob/main/DataPreprocessingAndFeatureEngineering2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [61]:
df = pd.read_csv('AirQualityUCI.csv', sep=';', decimal=',')

In [62]:
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9471 entries, 0 to 9470
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           9357 non-null   object
 1   Time           9357 non-null   object
 2   CO(GT)         9357 non-null   float64
 3   PT08.S1(CO)    9357 non-null   float64
 4   NMHC(GT)       9357 non-null   float64
 5   C6H6(GT)       9357 non-null   float64
 6   PT08.S2(NMHC)  9357 non-null   float64
 7   NOx(GT)        9357 non-null   float64
 8   PT08.S3(NOx)   9357 non-null   float64
 9   NO2(GT)        9357 non-null   float64
 10  PT08.S4(NO2)   9357 non-null   float64
 11  PT08.S5(O3)    9357 non-null   float64
 12  T              9357 non-null   float64
 13  RH             9357 non-null   float64
 14  AH             9357 non-null   float64
 15  Unnamed: 15    0 non-null      float64
 16  Unnamed: 16    0 non-null      float64
dtypes: float64(15), object(2)
memory usage: 1.2+ MB
None
            CO(GT)  PT08.S1(CO)     NMHC(GT)     C6H6(GT)  PT08.S2(NMHC)  \
count  9357.000000  9357.000000  9357.000000  9357.000000    9357.000000
mean    -34.207524  1048.990061  -159.090093     1.865683     894.595276
std      77.657170   329.832710   139.789093    41.380206     342.333252
min    -200.000000  -200.000000  -200.000000  -200.000000    -200.000000
25%       0.600000   921.000000  -200.000000     4.000000     711.000000
50%       1.500000  1053.000000  -200.000000     7.900000     895.000000
75%       2.600000  1221.000000  -200.000000    13.600000    1105.000000
max      11.900000  2040.000000  1189.000000    63.700000    2214.000000

           NOx(GT)  PT08.S3(NOx)      NO2(GT)  PT08.S4(NO2)  PT08.S5(O3)  \
count  9357.000000   9357.000000  9357.000000   9357.000000  9357.000000
mean    168.616971    794.990168    58.148873   1391.479641   975.072032
std     257.433866    321.993552   126.940455    467.210125   456.938184
min    -200.000000   -200.000000  -200.000000   -200.000000  -200.000000
25%      50.000000    637.000000    53.000000   1185.000000   700.000000
50%     141.000000    794.000000    96.000000   1446.000000   942.000000
75%     284.000000    960.000000   133.000000   1662.000000  1255.000000
max    1479.000000   2683.000000   340.000000   2775.000000  2523.000000

                 T           RH           AH  Unnamed: 15  Unnamed: 16
count  9357.000000  9357.000000  9357.000000          0.0          0.0
mean      9.778305    39.485380    -6.837604          NaN          NaN
std      43.203623    51.216145    38.976670          NaN          NaN
min    -200.000000  -200.000000  -200.000000          NaN          NaN
25%      10.900000    34.100000     0.692300          NaN          NaN
50%      17.200000    48.600000     0.976800          NaN          NaN
75%      24.100000    61.900000     1.296200          NaN          NaN
max      44.600000    88.700000     2.231000          NaN          NaN

In [63]:
df = df.dropna(axis=1, how='all')
df = df.drop(columns=['Date','Time', 'NMHC(GT)'])

In [64]:
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9471 entries, 0 to 9470
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CO(GT)         9357 non-null   float64
 1   PT08.S1(CO)    9357 non-null   float64
 2   C6H6(GT)       9357 non-null   float64
 3   PT08.S2(NMHC)  9357 non-null   float64
 4   NOx(GT)        9357 non-null   float64
 5   PT08.S3(NOx)   9357 non-null   float64
 6   NO2(GT)        9357 non-null   float64
 7   PT08.S4(NO2)   9357 non-null   float64
 8   PT08.S5(O3)    9357 non-null   float64
 9   T              9357 non-null   float64
 10  RH             9357 non-null   float64
 11  AH             9357 non-null   float64
dtypes: float64(12)
memory usage: 888.0 KB
None
            CO(GT)  PT08.S1(CO)     C6H6(GT)  PT08.S2(NMHC)      NOx(GT)  \
count  9357.000000  9357.000000  9357.000000    9357.000000  9357.000000
mean    -34.207524  1048.990061     1.865683     894.595276   168.616971
std      77.657170   329.832710    41.380206     342.333252   257.433866
min    -200.000000  -200.000000  -200.000000    -200.000000  -200.000000
25%       0.600000   921.000000     4.000000     711.000000    50.000000
50%       1.500000  1053.000000     7.900000     895.000000   141.000000
75%       2.600000  1221.000000    13.600000    1105.000000   284.000000
max      11.900000  2040.000000    63.700000    2214.000000  1479.000000

       PT08.S3(NOx)      NO2(GT)  PT08.S4(NO2)  PT08.S5(O3)            T  \
count   9357.000000  9357.000000   9357.000000  9357.000000  9357.000000
mean     794.990168    58.148873   1391.479641   975.072032     9.778305
std      321.993552   126.940455    467.210125   456.938184    43.203623
min     -200.000000  -200.000000   -200.000000  -200.000000  -200.000000
25%      637.000000    53.000000   1185.000000   700.000000    10.900000
50%      794.000000    96.000000   1446.000000   942.000000    17.200000
75%      960.000000   133.000000   1662.000000  1255.000000    24.100000
max     2683.000000   340.000000   2775.000000  2523.000000    44.600000

                RH           AH
count  9357.000000  9357.000000
mean     39.485380    -6.837604
std      51.216145    38.976670
min    -200.000000  -200.000000
25%      34.100000     0.692300
50%      48.600000     0.976800
75%      61.900000     1.296200
max      88.700000     2.231000

In [65]:
df = df.fillna(df.median())

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9471 entries, 0 to 9470
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CO(GT)         9471 non-null   float64
 1   PT08.S1(CO)    9471 non-null   float64
 2   C6H6(GT)       9471 non-null   float64
 3   PT08.S2(NMHC)  9471 non-null   float64
 4   NOx(GT)        9471 non-null   float64
 5   PT08.S3(NOx)   9471 non-null   float64
 6   NO2(GT)        9471 non-null   float64
 7   PT08.S4(NO2)   9471 non-null   float64
 8   PT08.S5(O3)    9471 non-null   float64
 9   T              9471 non-null   float64
 10  RH             9471 non-null   float64
 11  AH             9471 non-null   float64
dtypes: float64(12)
memory usage: 888.0 KB

In [67]:
num_cols = df.columns[:-1]
scaler = StandardScaler()
df[num_cols] = scaler.fit_transform(df[num_cols])

In [68]:
# Encoding target variable 'CO(GT)' into categories (low, medium, high)
df['CO(GT)'] = pd.cut(df['CO(GT)'], bins=[-1, 2, 5, np.inf], labels=['low', 'medium', 'high'])

# Encoding categorical variables
label_encoder = LabelEncoder()
df['CO(GT)'] = label_encoder.fit_transform(df['CO(GT)'])

In [69]:
X = df.drop(columns='CO(GT)').values
y = df['CO(GT)'].values

In [70]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

print(f"X_train shape: {X_train.shape}")
print(f"X_test shape: {X_test.shape}")
print(f"y_train shape: {y_train.shape}")
print(f"y_test shape: {y_test.shape}")

X_train shape: (6629, 11)
X_test shape: (2842, 11)
y_train shape: (6629,)
y_test shape: (2842,)